*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.CONTAINER{
    border: 2px solid black;
    width: 100%;
    background-color: rgb(57, 173, 14);
    margin: 20px auto;
    max-width: 500px;
    padding:30px;

}
.CONTAINER input{
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 23px;
    width: 100%;
}
.title {
    text-align: center;
    font-size: 35px;
    font-weight: 700%;
    padding-top:0;
}
.gender{
    display: flex;
    margin: auto;
    padding: 0;
}
textarea{
    display: flex;
    width:100%;
    margin-bottom: 20px;
    padding-bottom: 20px;

}
.CONTAINER input[type="submit"] {
    
}
select{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 15px;
}
.CONTAINER input[type="submit"]:hover{
    background-color: rgb(82, 56, 12);
    text-align:center;
    border: none;
    color: white;
    padding:17px 34px;
    text-decoration: none;
    margin: 5PX;
    cursor:pointer;
    
}